<div class="md:mb-20 transform scale-90 md:scale-100" style="width: 566px;">
    <!-- Title -->
    <h1 class="mt-2 mb-6 md:mt-20 md:mb-12 uppercase text-center text-4xl md:text-5xl md:transform md:scale-105 font-bold"
        style="font-family: 'Baloo Tamma 2', sans-serif; letter-spacing: 12px;">
        Docker Todo
    </h1>
    <!-- Input -->
    <label class="mb-3 flex items-center bg-white rounded-xl overflow-hidden shadow-2xl">
        <input #todoInput
            class="pl-7 pr-4 py-3 flex-grow md:text-lg tracking-wide md:tracking-wider border-none focus:ring-0 placeholder-gray-400"
            type="text" placeholder="Add new" autofocus />
        <button (click)="addTodo(todoInput)"
            class="mr-1 w-11 h-11 text-3xl text-white bg-gray-800 rounded-xl focus:outline-none">＋</button>
    </label>
    <!-- Tasks -->
    <div class="bg-white rounded-xl overflow-hidden shadow-2xl">
        <ul id="filters" class="flex text-center font-bold">
            <li (click)="selected = 'all'" [ngClass]="selected == 'all'? 'filter-active' : 'filter-inactive'" class="py-4 flex-grow cursor-pointer transition duration-75">All</li>
            <li (click)="selected = 'in-progress'" [ngClass]="selected == 'in-progress'? 'filter-active' : 'filter-inactive'" class="py-4 flex-grow cursor-pointer transition duration-75">In Progress</li>
            <li (click)="selected = 'done'" [ngClass]="selected == 'done'? 'filter-active' : 'filter-inactive'" class="py-4 flex-grow cursor-pointer transition  duration-75">Done</li>
        </ul>
        <ul class="px-4 py-1">
            <li *ngFor="let todo of todos" class="flex items-center group" data-id="${id}">
                <label class="px-3 py-4 cursor-pointer">
                    <input class="-mt-1" type="checkbox" [checked]="todo.isChecked"
                        (change)="updateCheck(todo, $event)" />
                </label>
                <div [ngClass]="{'line-through text-gray-300 filter grayscale': todo.isChecked}"
                    class="ml-1 flex-grow cursor-text border-b-2 border-gray-100 focus:outline-none overflow-x-hidden"
                    style="padding: 18px 0;">
                    {{todo.task}}
                </div>
                <button (click)="deleteTodo(todo)"
                    class="ml-2 px-3 py-4 text-2xl text-gray-400 lg:text-transparent lg:group-hover:text-gray-400 focus:outline-none transition duration-75">
                    ✕
                </button>
            </li>
        </ul>

        <div class="flex justify-between tracking-normal sm:tracking-wide">
            <p class="px-8 py-6 pb-8"><span>{{todos.length}}</span> Tasks</p>
            <button id="clear-finished-tasks"
                class="px-8 py-6 pb-8 pr-10 text-gray-300 transition hover:text-gray-700 focus:outline-none">Clear
                Completed</button>
        </div>
    </div>
</div>