<div class="min-h-screen flex justify-center md:text-lg text-gray-700 tracking-wide md:tracking-wider bg-primary"
  style="font-family: sans-serif; background: linear-gradient(171deg, #ffd370 54%, white 46%)">
  <router-outlet></router-outlet>
</div>